$blue_light: #00AFEF;
$blue_intermediate: #1D5A82;
$blue_dark: #262642;
$pink_light: #EC268F;
$red_light: #E02023;

$fz_xs: 0.8125rem; // 13px
$fz_sm: 0.9375rem; // 15px
$fz_df: 1rem; // 16px
$fz_lg: 1.25rem; // 20px
$fz_xl: 2rem; // 20px